:root {
  --barlow: 'Barlow', sans-serif;
}

label.optional:after {
  content: '(opt.)';
  color: grey;
  border-radius: 10px;
  margin-left: 5px;
  padding: 2px;
  font-size: 0.9rem;
}

.cv-main-heading {
  background-color: #3772ff;
  color: white;
  width: 100%;
  text-align: center;
  font-size: 2.4rem;
  font-family: var(--poppins);
  margin-bottom: 2rem;
}

.error-text {
  margin-bottom: 2rem;
  color: red;
  font-family: var(--poppins);
  font-size: 1.3rem;
  display: none;
}

.error-visible {
  display: block;
}

.optional-paragraph {
  color: grey;
  font-family: var(--poppins);
  font-size: 0.8rem;
}

.cv-gen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cv-forms-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form,
.generator-h1,
.btn,
.educational-h2,
.practical-h3 {
  -webkit-box-shadow: 6px 8px 19px -6px rgba(0, 0, 0, 0.67);
  -moz-box-shadow: 6px 8px 19px -6px rgba(0, 0, 0, 0.67);
  box-shadow: 6px 8px 19px -6px rgba(0, 0, 0, 0.67);
}

form {
  background-color: #f4faff;
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 10px;
}

.generator-h1,
.educational-h2,
.practical-h3,
form {
  width: 300px;
}

form label {
  color: #f038ff;
  font-family: var(--poppins);
  font-size: 1.1rem;
}

form input {
  font-family: var(--poppins);
  font-size: 1.2rem;
}

form p {
  font-family: var(--poppins);
  font-size: 1.2rem;
}

.generator-h1,
.educational-h2,
.practical-h3 {
  font-size: 1.5rem;
  font-family: var(--barlow);
  text-align: center;
  color: #f7a278;
  background-color: #f4faff;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  margin-top: 2rem;
}

.name-container,
.email-container,
.phone-container,
.form-groups {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.current-groups {
  display: flex;
  gap: 10px;
}

.btn-groups {
  display: flex;
  gap: 10px;
}

.btn {
  font-family: var(--poppins);
  font-size: 1.1rem;
  min-width: 80px;
  background-color: #f038ff;
  border: none;
  border-radius: 5px;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

#edu-add-btn,
#practical-add-btn {
  padding-top: 5px;
  padding-bottom: 5px;
}

#submit-btn {
  min-width: 80px;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 60px;
  background-color: #3772ff;
}

.edu-container,
.practical-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .generator-h1,
  .educational-h2,
  .practical-h3,
  form {
    width: 500px;
  }
  .optional-paragraph {
    font-size: 1rem;
  }
  .cv-main-heading {
    font-size: 2.9rem;
  }
}

@media screen and (min-width: 1000px) {
  .generator-h1,
  .educational-h2,
  .practical-h3,
  form {
    width: 800px;
  }
  .optional-paragraph {
    font-size: 1.2rem;
  }
  .cv-main-heading {
    font-size: 3rem;
  }
}
